.logo-wrap {
  float: left;

  .logo {
    width: 64px;
    margin-top: -15px;
  }

  .title {
    display: inline-block;
    font-family: 'ZhiMangXing';
    font-size: 30px;
    margin-left: 10px;
  }
}
