.layout {
  height: 100%;

  .header {
    background: #fff;
  }

  .main {
    min-width: 1000px;
    height: 100%;

    .content {
      position: relative;
      padding: 0 24px;
      margin: 0;
      min-height: 280px;
      height: 100%;

      .content-header {
        line-height: 50px;
        height: 50px;

        .title {
          float: left;
          font-family: 'ZhiMangXing';
          font-size: 25px;
        }

        .refresh {
          float: right;
          font-weight: bold;
          margin-top: 14px;
          cursor: pointer;

          .text {
            margin-right: 5px;
          }
        }
      }

      .tb-title {
        color: #000;
        font-family: 'MaShanZheng';
        font-size: 18px;
      }

      .bili-img-wrap {
        display: block;
        background-color: #f8f8f8;
        background-size: 100% 100%;
        min-height: 106px;
        overflow: hidden;
      }

      .course-name {
        font-weight: bold;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .crawl-title {
        padding: 5px 10px;
        font-size: 16px;
      }

      .up-img {
        width: 80px;
        border-radius: 50%;
        border: 1.5px solid #eee;
        overflow: hidden;
      }

      img:hover {
        transform: scale(1.2);
        transition: transform .5s;
      }

      .green {
        color: #5fb41b;
      }

      .orange {
        color: #f4621f;
      }
    }
  }
}
